
body {
    background-color: #b1defa;
}

h1, h2, h3, h4, h5, h6 {
    color: #333; /* Dark gray for headings */
}

.container {
    background-color: #fff; /* White container background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin-top: 20px;
}

.btn {
    background-color: #209ae6;
    color: #fff;
    border-color: #85c7f2;
}

.btn:hover {
    background-color: #78c8fa; 
    border-color: #6cb4df;
}

.form-control {
    background-color: #f9f9f9; 
    border-color: #ddd;
}