label { display: inline-block; } 

input, textarea {
  display:inline-block;
  font-family:arial;
  margin: 5px 10px 5px 40px;
  padding: 8px 12px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 90%;
  font-size: small;
}
    
div {
  margin-left: auto;
  margin-right: auto;
  width: 60%;  
}
    
h1 { text-align: center; }    

input[type=submit] {
  padding:5px 15px; 
  background:#112188; 
  color: white;
  border:0 none;
  cursor:pointer;
  border-radius: 5px; 
}
  
input[type=submit]:hover {
  background-color: #000440;
}
    
.msg {
  margin-left:24px;
  font-style: italic;
  color: rgb(90, 0, 0);
  font-size: 0.9em;
}

.card {
  background-color: #ccc;
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.card-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}
    
html{ height:100%; }

body{ min-height:100%; padding:0; margin:0; position:relative; background-color: #aabbee;}    

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: WhiteSmoke;
  padding: 10px;
}

.btn {
  background-color: #405aa8;
  color: #fff;
  border-color: #405aa8;
}

.btn:hover {
  background-color: #aabbee; 
  border-color: #405aa8;
}